html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background-image: linear-gradient(to bottom, rgba(48,46,47, .75) 0%,rgba(48,46,47, .75)100%),url("images/bg.jpg");
	
}

header{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
	height: 150px;
	width:1000px;
	margin: auto;

}

.buttons{
	background: transparent;
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 25px;
	margin:0px;
}
.subscribe{
	display: flex;
	background: transparent;
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 18px;
	margin:0px;
	width: 200px;
	padding-left: 470px;
	line-height: 20px;
	padding-top:20px;
}

.subscribe:after {
	content: " \B7 ";
	color: white;
	font-size:35px;
	padding-left: 10px;
	margin-left: 10px;
}
.social{
	display: flex;
	justify-content: flex-end;
	height: 50px;
	border-left: 6px dotted white;
	
}

i{
	box-shadow: 0px 5px 0px rgba(240,240,240, .15);
	width:50px;
	height: 50px;
	text-align: center;
}
nav {
	width:100%;
}

.buttons {
	display:flex;
	justify-content:space-between;
	width:100%;
	padding-left:0;
}

.navbar{
	outline: none;
	border:0px;
	list-style: none;
	height:40px;
	width: 220px;
	color: white;
	font-size: 18px;
	text-align: center;
	background: rgb(180, 41, 46);
	box-shadow: 0px 5px 0px rgba(240,240,240, .15);
	padding:10px;
	
}


.hero{
	display: flex;
	width: 1000px;
	height: 400px;
	background: black url("images/top-image.png") no-repeat;
	margin: auto;
	border: 4px solid white;
	margin-bottom: 10px;
	background-position-x: -171px;
	background-position-y:-151px;
	box-shadow: 0px 5px 0px rgba(240,240,240, .15);
	margin-bottom: 20px;
}

.hero img{

	height: 400px;
	width: 1000px;
	object-position: 1% 35%;
	object-fit: none;
}

main {
	display: flex;
	justify-content: space-between;
	height: 375px;
	width:1000px;
	margin: auto;
	
	margin-bottom: 20px;
}

main div{
	width: 30%;
	height: 375px;
	background: white;
	padding:20px;
	box-shadow: 0px 5px 0px rgba(240,240,240, .15);
	
}

.titles{
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: rgb(53,54,50);

}

.date{
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: rgb(192,192,192);

}
.body{
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 2.0;
	color: rgb(118,118,118);

}
.readmore{

	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 16px;
	color: rgb(186,62,69);
	text-align: center;
}


#container{
	display: flex;
	justify-content: space-around;
	height: 600;
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.skateboarders{
	position: relative;

}

.skateboarders div{
	color: white;
	float: left;
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 32px;
	font-weight: bolder;
	height: 230px;
	width: 315px;
	align-content: center;
	text-align: center;
	word-wrap: normal;
	box-shadow: 0px 5px 0px rgba(240,240,240, .15);
	

}

.skateboarders div:first-child{
	background: url("images/sk8er-4.png") no-repeat;
	border:5px solid white;
	background-position-x: -145px;
	background-position-y: -26px;
	margin:5px 29px 15px 0px;
	padding-top:60px;
	
}

.skateboarders div:nth-child(2){
	background: url("images/sk8er-3.png") no-repeat;
	border:5px solid white;
	background-position-x: -1px;
	background-position-y:-1px;
	margin:5px 22px 15px 0px;
	padding-top:60px;
}

.skateboarders div:nth-child(3){
	width: 661px;
	clear:left;
	background: url("images/sk8er-1.png") no-repeat;
	border:5px solid white;
	background-position-x: -22px;
	background-position-y:-67px;
	margin:0px 22px 0px 0px;
	padding: 100px;
}

.skateboarders div:nth-child(4){
	height: 475px;
	line-height: 30px;
	margin-top: -245px;
	background: url("images/sk8er-2.png")no-repeat;
	border:5px solid white;
	background-position-x: -389px;
	background-position-y:1px;
	padding:215px 0px 0px;

}

.skateboarders .arrow {
	color: white;
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 20px;
	text-align: center;
	width: 300px;
	height: 100px;
	background: rgb(180, 41, 46);
	top:70px;
	left:-350px;
	position: absolute;
	box-shadow: 0px 5px 0px rgba(240,240,240, .15);
	padding-top:40px;

}

.arrow:after{
	position: inherit;
	content: "";
	height: 0px;
	width: 0px;
	border-top: 50px solid transparent;
	border-bottom: 52px solid transparent;
	border-left: 31px solid rgb(180, 41, 46);
	top:0px;
	left:300px;

}
.arrow:before{
	position: inherit;
	content: "";
	height: 0px;
	width: 0px;
	border-top: 56px solid transparent;
	border-bottom: 59px solid transparent;
	border-left: 35px solid rgba(240, 240, 240, .15);
	top:-1px;
	left:300px;

}

.boards{
	display: flex;
	justify-content: space-around;
	background: white;
	height: 300px;
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 0px 5px 0px rgba(240,240,240, .15);
}

footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	background: white;
	font-family: Verdana, Helvetica, Tahoma, sans-serif;
	font-size: 16px;
	font-style: bold;
	height: 300px;
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 0px 5px 0px rgba(240,240,240, .15);
}

 .titles, .smallsocial, .body, .contact, form {
	display: flex;
	flex-wrap: wrap;
}

.smallsocial {
	width:200px;
	height: 65px;
	justify-content: space-between;
	font-size: 24px;
}

.contact, form{
	width: 48%;
	padding-right: 40px;
}

form{
	margin-top: 25px;
	margin-bottom: 15px;
}

.contact .titles{
	margin-bottom: 0px;
}

.contact{
	margin-right: 20px;
}

.pushme{
	margin-left: 200px;
	background: rgb(180, 41, 46);
	width: 200px;
	height: 40px;
	color: white;
	font-family: Verdana, Helvetica, Tahoma, sans-serif;
	font-size: 16px;
	border:0;
	outline: none;
	margin-top:15px;
}

input{
	border:1px solid rgb(53, 54, 50);
	display: flex;
	width: 400px;
	height: 40px;
	padding-left: 10px;
	padding-top:px;
	box-shadow: 3px 3px 0px rgba(40,40,40, .25) inset;
}

textarea{
	border:1px solid rgb(53,54,50);
	display: flex;
	resize: none;
	width: 400px;
	height: 75px;
	padding-left: 10px;
	padding-top:8px;
	box-shadow: 3px 3px 0px rgba(40,40,40, .25) inset;
}

footer p:last-child{
	font-size: 12px;
}