html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body {
	background: black url("images/bg.jpg");
	
}

header{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	color: white;
	height: 150px;
	width:1000px;
	margin: auto;
	margin-bottom: 10px;
}

.subscribe, .social, .buttons{
	background: transparent;
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 25px;
	margin:0px;
}

.subscribe:after {
	content: " \B7 ";
	color: white;
	font-size:35px;
}

nav {
	width:100%;
}

.buttons {
	display:flex;
	justify-content:space-between;
	width:100%;
	padding-left:0;
}

.buttons li{

	list-style: none;
	height:40px;
	color: white;
	font-size: 18px;
	text-align: center;
	background: rgb(180, 41, 46);
	box-shadow: 0px 5px 0px rgba(240,240,240, .5);
	padding:10px;
	
}


.hero{
	display: flex;
	width: 1000px;
	height: 400px;
	background: black url("images/top-image.png") no-repeat;
	margin: auto;
	border: 4px solid white;
	margin-bottom: 10px;
	background-position-x: -171px;
	background-position-y:-151px;
	box-shadow: 0px 5px 0px rgba(240,240,240, .5);
}

.hero img{

	height: 400px;
	width: 1000px;
	object-position: 1% 35%;
	object-fit: none;
}

main {
	display: flex;
	justify-content: space-between;
	height: 375px;
	width:1000px;
	margin: auto;
	box-shadow: 0px 5px 0px rgba(240,240,240, .5);
	
}

main div{
	width: 30%;
	height: 375px;
	background: white;
	overflow: auto;
	padding:20px;
	
}

.titles{
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: rgb(53,54,50);

}

.date{
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: rgb(192,192,192);

}
.body{
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: rgb(118,118,118);

}
.readmore{

	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 16px;
	color: rgb(186,62,69);
	text-align: center;
}


#container{
	display: flex;
	justify-content: space-around;
	height: 600;
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.skateboarders{
	position: relative;

}

.skateboarders div{
	color: white;
	float: left;
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 32px;
	font-weight: bolder;
	height: 230px;
	width: 315px;
	align-content: center;
	text-align: center;
	word-wrap: normal;
	box-shadow: 0px 5px 0px rgba(250,250,250, .5);

}

.skateboarders div:first-child{
	background: url("images/sk8er-4.png") no-repeat;
	border:5px solid white;
	background-position-x: -145px;
	background-position-y: -26px;
	margin:5px 29px 15px 0px;
	
}

.skateboarders div:nth-child(2){
	background: url("images/sk8er-3.png") no-repeat;
	border:5px solid white;
	background-position-x: -1px;
	background-position-y:-1px;
	margin:5px 22px 15px 0px;
}

.skateboarders div:nth-child(3){
	width: 661px;
	clear:left;
	background: url("images/sk8er-1.png") no-repeat;
	border:5px solid white;
	background-position-x: -22px;
	background-position-y:-67px;
	margin:0px 22px 0px 0px;
}

.skateboarders div:nth-child(4){
	height: 475px;
	line-height: 30px;
	margin-top: -245px;
	background: url("images/sk8er-2.png")no-repeat;
	border:5px solid white;
	background-position-x: -389px;
	background-position-y:1px;

}

.skateboarders .arrow {
	width: 200px;
	height: 50px;
	line-height: 50px;
	background: red;
	top:70px;
	left:-250px;
	position: absolute;
	box-shadow: 0px 5px 0px rgba(240,240,240, .5);
}

.skateboarders .arrow::after{
	width: 0;
	height: 0;
	border-top: 35px solid transparent;
	border-left: 50px solid red;
	border-bottom: 35px solid transparent;
	position: absolute;
	top: 70px;
	left: 0px;


}

.boards{
	display: flex;
	justify-content: space-around;
	background: white;
	height: 300px;
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 0px 5px 0px rgba(240,240,240, .5);
}

footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: white;
	font-family: Verdana, Helvetica, Tahoma, sans-serif;
	font-size: 16px;
	font-style: bold;
	height: 300px;
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 0px 5px 0px rgba(240,240,240, .5);
}

form, .contact{
	flex: 1 0 48%;
}



footer p:last-child{
	font-size: 12px;
}